@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}
/* makes the list have no style */
ul{
  list-style: none;
}
/* no underline for the links and is grey */
a{
  text-decoration: none;
  color: #333;
}

h1, h2 {
  /* lessens the font weight color */
  font-weight: 300;
  line-height: 1.2;
}

p{
  margin: 10px 0;
}

img{
  width: 100%;
}

/* navbar flexbox implementation */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70x;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  /* transitiong for the navbar where the navbar would transition into the scrolling */
  transition: 0.5s ease-in;
}

.navbar.top{
  background: transparent;
}

.navbar a{
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover{
  border-bottom: #28a745 2px solid;

}
.navbar ul{
  display: flex;

}

.navbar .logo{
  font-weight: 400;
}

/* Hero overlay header */
.hero{
  background: url('../images/home/freshegg.jpg') no-repeat center center/cover;
  height: 100vh;
  /* 100vh helps the picture span the entire height */
  position: relative;
  color: #fff;
}

/* content int he middle */
.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1{
  font-size: 55px;
}
.hero .constant p{
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;

}
/* inserts element before */
.hero::before{
  content:'';
  position: absolute;
  /* position is absolute within hero for the before image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  /* rgba can set the background darkened if you use background also you can use opacity for the alpha */
}
/* anything that is in hero, so in the hero class */
.hero *{
  /* the z-index or the text in the container is lightened OR in front of the overlay, z-index basically means the higher means more infront and lower means less infront */
  z-index: 10;
} 

.hero.blog{
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
}

/* icons */
.icons{
  padding: 30px;
}

.icons h3{
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i{
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}
/* gives a hover effect when you mouse over the images */
.cases img:hover{
  opacity: 0.7;
}

.teams img{
  border-radius: 50%;

}

/* request egg form */
.callback-form{
  width: 100%;
  padding: 20px 0;
}

.callback-form label{
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control{
  margin-bottom: 15px;
}

.callback-form input{
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}
/* sets the color outline of the sheet */
.callback-form input:focus{
  outline-color: #28a745;
}

.callback-form .btn{
  padding: 12px 0;
  margin-top: 20px;
}

/* post styling */
.post{
  padding: 50px 30px;
}

.post h2{
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta{
  margin-bottom: 30px;
}

.post img{
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer styling */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
}
/* sets links in footer white, i.e the classes like facebook twitter yt linkedin */
.footer a{
  color: #fff;
}
/* footer hovering over the links gives a greeen color */
.footer a:hover{
  color: #28a745;
}

.footer .social >*{
  margin-right: 30px;
}

/* mobile navbar to make it a column and have a set height and padding so it doesn't look weird*/
@media(max-width: 768px){
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a{
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items{
    flex-direction: column;
  }
  .flex-columns .column, .flex-grid .column{
    flex: 100%;
    max-width: 100%;
  }

  .team img{
    width: 70%;
  }
}

